
body{
    /*overflow-x: hidden;*/
}
#header-atas {
    height: 90px;
}

#image-frame img {
    width: 47%;
    height: auto;
}

#image-frame {
    text-align: center;
    height: 90px;
    border-right: 2px solid rgba(184, 91, 60, 0.397);
    border-bottom: 2px solid rgba(184, 91, 60, 0.397);
}

#white-space-frame {
    margin: 0;
    height: 90px;
    padding: 0;
    border-bottom: 2px solid rgba(184, 91, 60, 0.397);
}

#white-space-frame p {
    float: right;
    padding: 5px;
    margin: 26px;
    color: black;
}

ul li{
    list-style-type: none;
}

.noto-sans{
    color: #b85a3c;
    font-family: 'noto-sans';
}

.noto-sans-font{
    font-family: 'noto-sans';
}

a.superadmin-name {
    color: #6C63FF;
    text-decoration: none;
    transition: 0.3s;
}

a.superadmin-name:hover {
    color: #b85a3c
}

p span {
    color: #b85a3c;
}


#sidebar-list-frame {
    border-right: 2px solid rgba(184, 91, 60, 0.397);
    padding: 0px;
}

.frame-list-sidebar {
    padding: 0px 0px 0px;
    margin: 0px;
}

.list-sidebar a {
    color: #b85a3c;
    margin-left: 30px;
    text-decoration: none;
    transition: 0.3s;
}

.list-sidebar a:hover {
    color: #6C63FF;
    margin-left: 30px;
    text-decoration: none;
}


li.list-sidebar {
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(209, 209, 209, 0.534);
}

li.list-sidebar:last-child {
    padding: 10px;
    margin-bottom: 0px;
}

.active{
    color: #6C63FF;
}

div#error_file {
    text-align: center;
    color: red;
    font-weight: bold;
    padding: 15% 0 0;
}

#frame-search {
    float: right;
    margin-right: 3%;
}

.input-form {
    border: 2px solid rgba(184, 91, 60, 0.397);
    padding: 4px;
    border-radius: 2px;
    color: black;
}

button.search-btn {
    border: none;
    font-size: 15px;
    padding: 6px;
    color: white;
    background-color: #b85a3c;
    border-radius: 2px;
}

div#frame-search {
    padding: 5px;
    border-radius: 2px;
}

#main-frame-insert {
    margin: 0px 0 0;
}

h3.w-50 {
    text-align: center;
    color: #b85a3c;
}

@font-face{
    font-family: 'noto-sans';
    src:url("../font/noto-sans/NotoSans-CondensedSemiBold.ttf");
}

.text-brown{
    color: #b85a3c;
}
.bg-brown{
    background-color: #b85a3c;
}