body{
    overflow-x: hidden;
    background-color: #F5F5F5;
}
#header-wave-image {
    width: 103%;
    height: 100%;
    padding-right: 13px;
}

.trocchi-font{
    font-family:'trocchi';
}

#mark-kanan {
    justify-content: center;
}

#mark-kanan {
    margin-top: 50px;
}

#bold-font-logo h2 {
    text-align: center;font-size: 50px;color: #B85A3C;
}
#bold-font-logo .ubuntu-font span {
    color: #6C63FF;
}

#bold-font-logo p {
    color: #B85A3C;
}

a.button-landing.ubuntu {
    border: none;
    background-color: #B85A3C;
    padding: 9px;
    color: white;
    border-radius: 6px;
}

#button {
    text-align: center;
    margin-bottom: 20px;
}

a.button-landing.ubuntu-font {
    border: none;
    background-color: #B85A3C;
    padding: 10px;
    color: white;
    border-radius: 3px;
    transition: 0.3s;
}
a.button-landing.ubuntu-font:hover {
    background-color:#6C63FF;
}

.ubuntu-font{
    font-family:'ubuntu';
}


/* 5 inch down phone */
@media only screen and (max-width:400px){


    body{
        overflow-x:hidden!important;
    }

    img#image-coffe {
        width: 100%;
        padding: 20px;
        margin-top: 15px;
    }
    
    img#header-wave-image {
        padding: 0px;
        margin: 0px;
    }
    
    div#mark-kanan {
        margin: 10px;
    }

    p.ubuntu-font.paragraf {
        margin-bottom: 20px;
    }

    h2.ubuntu-font {
        margin-bottom: 5px;padding: 10px;
    }

    @font-face{
        font-family:'ubuntu';
        src:url('../font/ubuntu/Ubuntu-B.ttf');
    }

    @font-face{
        font-family:'trocchi';
        src:url('../font/trocchi/Trocchi.otf');
    }
    .trocchi-font{
        font-family:'trocchi';
    }
    .ubuntu-font{
        font-family:'ubuntu';
    }

    .text-brown{
        color: #B85A3C!important;
    }

    .brown{
        color: #B85A3C;
    }


}


/* 5 inch up phone  */
@media only screen and (min-width:400px){
    body{
        overflow-x:hidden!important;
    }

    img#image-coffe {
        width: 100%;
        padding: 20px;
        margin-top: 15px;
    }
    
    img#header-wave-image {
        padding: 0px;
        margin: 0px;
    }
    
    div#mark-kanan {
        margin: 10px;
    }

    p.ubuntu-font.paragraf {
        margin-bottom: 20px;
    }

    h2.ubuntu-font {
        margin-bottom: 5px;padding: 10px;
    }

    @font-face{
        font-family:'ubuntu';
        src:url('../font/ubuntu/Ubuntu-B.ttf');
    }

    @font-face{
        font-family:'trocchi';
        src:url('../font/trocchi/Trocchi.otf');
    }
    .trocchi-font{
        font-family:'trocchi';
    }
    .ubuntu-font{
        font-family:'ubuntu';
    }

    .text-brown{
        color: #B85A3C!important;
    }

    .brown{
        color: #B85A3C;
    }

}

/* Tablet screen portrait */
@media only screen and (min-width:768px){

    div#mark-kanan {
        margin: 0;
        font-size: 15px;
    }
    
    h2.ubuntu-font {
        font-size: 2px;
    }

    .text-brown{
        color: #B85A3C!important;
    }

    .brown{
        color: #B85A3C;
    }

}




/* Desktop responsive */
@media only screen and (min-width:900px){

    body{
        overflow-x: hidden;
        background-color: #F5F5F5;
    }
    #header-wave-image {
        width: 103%;
        height: 100%;
    }
    .trocchi-font{
        font-family:'trocchi';
    }
    .ubuntu-font{
        font-family:'ubuntu';
    }
    
    div#mark-kanan {
        margin: 0px;
        padding: 10px;
        height: 55%;
    }
    
    
    #bold-font-logo h2 {
        text-align: center;font-size: 50px;color: #B85A3C;
    }
    #bold-font-logo .ubuntu-font span {
        color: #6C63FF;
    }
    
    #bold-font-logo p {
        color: #B85A3C;
    }
    
    a.button-landing.ubuntu {
        border: none;
        background-color: #B85A3C;
        padding: 9px;
        color: white;
        border-radius: 6px;
        text-decoration: none;
    }
    
    #button {
        text-align: center;
        margin-bottom: 20px;
    }

    p.ubuntu-font.paragraf.text-brown {
        font-size: 17px;
    }

    .text-brown{
        color: #B85A3C!important;
    }

    .brown{
        color: #B85A3C;
    }
    
    a.button-landing.ubuntu-font {
        border: none;
        background-color: #B85A3C;
        padding: 10px;
        color: white;
        text-decoration: none;
        border-radius: 3px;
    }
    a.button-landing.ubuntu-font:hover {
        background-color:#6C63FF;
        transition: 0.3s;
    }

    @font-face{
        font-family:'ubuntu';
        src:url('../font/ubuntu/Ubuntu-B.ttf');
    }

    @font-face{
        font-family:'trocchi';
        src:url('../font/trocchi/Trocchi.otf');
    }
    
}

