
@media only screen and (min-width:300px){

    .card-menu a img{
        width: 200px;
    }

    #sidebar-desktop{
        display: none;
    }

    .frame-content-menu{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    p#label-kategori {
        font-size: 20px;
    }
    
    p#label-harga {
        font-size: 20px;
    }

    #label-product{
        font-size: 30px;
    }

    .card-menu{
        margin-top: 16px;
        padding: 10px;
    }

    .card-menu p {
        margin: 0;
        color: #b85a3c;
        font-family: abel;
    }
    
    .card-menu .underline {
        padding: 3px;
        margin: 0;
        width: 100px;
        border-color: #6c63ff;
        }

    @font-face{
        font-family: 'abel';
        src:url('../font/abel/abel-regular.ttf');
    }

    .dropdown{
        position: relative;
        display: inline-block;
    }
    
    .dropdown-content{
        display: none;
        position: absolute;
        background-color: #6C63FF ;
        width: 91px;
        text-align: center;
        box-shadow: 5,5px,0,0,rgba(51, 51, 51, 0.589);
        z-index:1;
    }
    .btn-dropdown{
        font-family: ubuntu;
        border-radius: 0px;
        background-color: #B85A3C;
        color: white;
    }
    .btn-dropdown:hover{
        color: white;
    }
    .show{display: block;}

    .hidden{display: block;}

    .dropdown-content a{
        text-decoration: none;
        color: white;
        font-family: ubuntu;
        font-weight: bold;
        padding: 5px;
        display:block;
    }

    h3.text-center.blue-color {
        font-family: ubuntu;
        margin: 10px;
    }
    
    .underline {
        border-bottom: 3px solid #b85a3ccf;
        width: 65%;
        text-align: center;
        margin: auto;
    }

    .blue-color{
        color:#6C63FF;
    }

    #header-frame-content span {
        width: 100%;
        border-bottom: 1px solid black;
    }
    

    .nav-item {
        width: 138px;
        padding: 10px;
        margin: 6px;
        margin-left: 15px;
        border: 2px brown solid;
        text-align: center;
    }

    #keterangan{
        color: white;
        font-size: 15px;
        text-align: left;
    }

    #logo-footer {
        color: white;
        position: relative;
        text-align: center;
        padding: 15px 0 0;
        font-size: 45px;
    }

    footer #frame-footer {
        padding: 15px;
        margin-top: 5%;
        background-color: #B85A3C;
    }

    #logo-footer span {
        color: #6C63FF;
    }

    #button-menu {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 0px;
    }

    #button-menu .button {
        width: 10%;
        border: none;
        background-color: #B85A3C;
        color: white;
        padding: 10px;
        text-decoration: none;
        border-radius: 3px;
        transition: 0.3s;
    }

    div#button-menu {
        text-align: center;
        margin: 30px;
        padding: 10px;
    }

    div#paragraf-1 {
        margin-top: 2rem;
        font-size: 15px;
        text-align: justify;
    }

    div#paragraf-2 {
        font-size: 15px;
        text-align: justify;
    }

    .frame-gambar {
        text-align: center;
    }

    .frame-gambar img {
        border-style: none;
        width: 65%;
    }

    .frame-keterangan p {
        margin: 0;
    }

    h3.ubuntu-font.text-center {
        padding: 15px;
        margin-top: 10px;
    }

    div#frame-main-gambar-1 {
        text-align: center;
    }

    #frame-main-gambar-1 img {
        width: 65%;
    }

    #frame-main-paragaf-1 p {
        text-align: justify;
        font-size: 15px;
    }

    p#paragraf-row-2 {
        text-align: justify;
        font-size: 15px;
    }

    div#frame-main-gambar-2 {
        text-align: center;
    }

    img#gambar-2 {
        width: 60%;
    }

    #logo-header a img.image-fluid {
        width: 30%;
    }

    .text-brown{
        color: #B85A3C;
    }
    
    div#logo-header {
        text-align: center;
    }
    
    .ubuntu-font{
        font-family:'ubuntu';
        color: #B85A3C;
    }

    .font-trocchi{
        font-family:'trocchi';
        color: rgb(66, 65, 65);
    }

    #banner-img {
        vertical-align: middle;
        border-style: none;
        width: 100%;
    }

    .abel-font{
        font-family: 'abel';
    }

    @font-face{
        font-family:'ubuntu';
        src:url('../font/ubuntu/Ubuntu-B.ttf');
    }

    @font-face{
        font-family:'trocchi';
        src:url('../font/trocchi/Trocchi.otf');
    }

}

@media only screen and (min-width:576px){

    .card-menu a img{
        width: 150px;
    }

    .frame-content {
        display: flex;
    }

    .frame-content-menu{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    #sidebar-desktop{
        display: block;
    }

    .abel-font{
        font-family: 'abel';
    }

    .nav-item{
        margin: 0;
        padding: 0;
        border: none;
    }

    .frame-keterangan p {
        text-align: justify;
    }

    .card-menu{
        margin-top: 5px;
    }
    .card-menu p {
        margin: 0;
        color: #b85a3c;
        font-size: 20px;
        font-family: abel;
    }
    
    .card-menu .underline {
        padding: 3px;margin: 0;width: 15%;border-color: #6c63ff;
        }
    
    @font-face{
        font-family: 'abel';
        src:url('../font/abel/abel-regular.ttf');
    }

    .abel-font{
        font-family: 'abel';
    }
    

}

@media only screen and (min-width:768px){

    .frame-content {
        display: flex;
    }

    .hidden{display:none}
    .nav-item{
        margin: 12px;
    }
    .card-menu p {
        margin: 0;
        color: #b85a3c;
        font-size: 20px;
        font-family: abel;
    }
    
    .card-menu .underline {
        padding: 3px;margin: 0;width: 15%;border-color: #6c63ff;
        }
    @font-face{
        font-family: 'abel';
        src:url('../font/abel/abel-regular.ttf');
    }
}

@media only screen and (min-width:1024px){

    .frame-content {
        display: flex;
    }

    .frame-content-menu{
        display: flex;
        flex-direction: row;
        width: 115%;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #sidebar-desktop ul li a {
        color: #b85a3c;
        margin: 0;
        font-family: abel;
        font-size: 20px;
    }
    

    #sidebar-desktop{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @font-face{
        font-family: 'abel';
        src:url('../font/abel/abel-regular.ttf');
    }

    .card-menu{
        padding: 27px;
    }

    .card-menu p {
        margin: 0;
        color: #b85a3c;
        font-size: 20px;
        font-family: abel;
    }
    
    .card-menu .underline {
        padding: 3px;margin: 0;width: 115px;border-color: #6c63ff;
        }

    .hidden{display:none}

    .underline {
        border-bottom: 3px solid #b85a3ccf;
        width: 45%;
        text-align: center;
        margin: auto;
    }

    div#logo-header {
        text-align: left;
    }

    .frame-gambar img {
        width: 100%;
    }
    
    #frame-main-gambar-1 img {
        width: 75%;
    }
    
    img#gambar-2 {
        width: 100%;
    }

    .nav-item{
        margin: 0;
        padding: 0;
        border: none;
    }

    body{
        color: #F5F5F5;
    }

    .text-brown{
        color: #B85A3C;
    }

    .frame-gambar {
        padding: 35% 10% 0;
    }

    .ubuntu-font{
        font-family:'ubuntu';
        color: rgb(66, 65, 65);
    }

    .font-trocchi{
        font-family:'trocchi';
        color: rgb(66, 65, 65);
    }

    #logo-header img {
        width: 127px;
        top: 0px;
    }

    .top{
        margin-top: 70px;
    }
    
    #nav-coffe a {
        margin-top: 50px;
        margin-bottom: 0px;
        color: #B85A3C;
        text-decoration:none;
        transition: 0.3s;
    }
    
    #menu a {
        margin-top: 50px;
        margin-bottom: 0px;
        color: #B85A3C;
        text-decoration:none;
        transition: 0.3s;
    }
    
    #contact-us a {
        margin-top: 50px;
        margin-bottom: 0px;
        color: #B85A3C;
        text-decoration:none;
        transition: 0.3s;
    }

    #nav-coffe a:hover {
        color: #6C63FF;
    }
    
    #menu a:hover {
        color: #6C63FF;
    }
    
    #contact-us a:hover {
        color: #6C63FF;
    }

    @font-face{
        font-family:'ubuntu';
        src:url('../font/ubuntu/Ubuntu-B.ttf');
    }

    @font-face{
        font-family:'trocchi';
        src:url('../font/trocchi/Trocchi.otf');
    }
    
    .banner-coffe {
        text-align: center;
    }
    
    .banner-coffe #banner-img {
        width: 100%;
        height: auto;
        border-radius: 3px;
    }

    #paragraf-1 p {
        margin: 60px 10px 0px;
        text-align: justify;
        font-size: 19px;
        letter-spacing: 1px;
    }

    #paragraf-2 p {
        margin-top: 85px;
        margin-bottom: 0px;
        text-align: justify;
    }

    .frame-keterangan {
    padding: 40% 0 0;
    }

    section#page-2 {
        margin-top: 20px;
    }

    h3.ubuntu-font.text-center {
        color: #B85A3C;
        padding-bottom: 15px;
    }

    #page-3 {
        margin-top: 20px;
    }
    
    #frame-main-gambar-1 {
        height: 500px;
        padding: 35% 0 0;
    }
    
    #frame-main-paragaf-1 {
        padding: 40% 0 0;
    }
    
    #frame-main-paragaf-1 h3 {
        color: #B85A3C;
    }
    
    #frame-main-gambar-2 {
        padding: 0 20% 0;
    }

    #paragraf-row-2 {
        text-align: right;
    }

    #gambar-2 {
        width: 90%;
    }

    #button-menu {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 0px;
    }

    #button-menu .button {
        width: 10%;
        border: none;
        background-color: #B85A3C;
        color: white;
        padding: 10px;
        text-decoration: none;
        border-radius: 3px;
        transition: 0.3s;
    }

    #button-menu .button:hover {
        background-color: #6C63FF;
    }

    #keranjang a {
        color: #b85a3c;
        text-decoration: none;
        transition: 0.3s;
    }

    #keranjang a:hover {
        color: #6C63FF;
    }

    .active{
        color: #6C63FF!important;
    }
    
    #login {
        text-align: center;
    }

    #login a{
        color: #b85a3c;
        text-decoration: none;
        transition: 0.3s;
    }

    #login a:hover{
        color: #6C63FF;
    }

    #logo-footer {
        color: white;
        position: relative;
        text-align: center;
        padding: 17px 0 0;
        font-size: 50px;
    }

    footer #frame-footer {
        padding: 15px;
        margin-top: 5%;
        background-color: #B85A3C;
    }

    #logo-footer span {
        color: #6C63FF;
    }
    
    #keterangan {
        color: white;
        padding: 21px 0px 0px;
        text-align: justify;
    }


    #contact-us {
        width: 100px;
    }
    
    
    div#nav-coffe {
        text-align: center;
    }
    
    div#menu {
        text-align: center;
    }

    a.ubuntu-font {
        color: #b85a3c;
        transition: 0.3s;
        text-decoration: none;
    }
    a.ubuntu-font:hover {
        color:#6C63FF
    }

    .top {
        padding: 0px;
    }

    div#keranjang {
        text-align: center;
    }
}